* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Arial', sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(70,98,135, .5);
    position: sticky;
    top: 0px;
}

.navbar__icon {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar__image {
    height: 35px;
}

.red-circle {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
}

.page {
    height: 100vh;
    width: 100vw;
    background-color: #1c2029;
    scroll-snap-align: start;
}

.page__title {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 50px;
}
/* Landing */

.landing {
    background-image: url('./images/examples/androidsmlbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    /* margin-top: 300px; */
}

.hours {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.hours__sub {
    display: flex;
    flex-direction: column;
}

.hours__text{
    color: white;
}

/* Menu */

.menu-carousel {
    overflow: scroll;
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: green; */
    padding: 1rem;
}

.menu-item {
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 30px rgb(70,98,135);
}
.buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
}

.btn {
    width: 40%;
    height: 50px;
    background-color: #466287;
    color: white;
    margin: auto;
    border: none;
    border-radius: 5px;
}

